[submodule "Foreign/simpleopt"]
	path = Foreign/simpleopt
	url = git@github.com:brofield/simpleopt.git
[submodule "Foreign/optional-lite"]
	path = Foreign/optional-lite
	url = git@github.com:martinmoene/optional-lite
[submodule "Foreign/yoga"]
	path = Foreign/yoga
	url = git@github.com:facebook/yoga.git
[submodule "Foreign/cparse"]
	path = Foreign/cparse
	url = git@github.com:djewsbury/cparse.git
[submodule "Foreign/tiny-process-library"]
	path = Foreign/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library.git
[submodule "Foreign/json"]
	path = Foreign/json
	url = https://github.com/nlohmann/json.git
[submodule "Foreign/future"]
	path = Foreign/future
	url = git@github.com:jbelloncastro/future.git
[submodule "Foreign/Catch2"]
	path = Foreign/Catch2
	url = git@github.com:catchorg/Catch2
[submodule "Foreign/freetype2"]
	path = Foreign/freetype2
	url = git@github.com:freetype/freetype2
[submodule "Foreign/thousandeyes-futures"]
	path = Foreign/thousandeyes-futures
	url = git@github.com:thousandeyes/thousandeyes-futures
