[submodule "Foreign/simpleopt"]
	path = Foreign/simpleopt
	url = git@github.com:brofield/simpleopt.git
[submodule "Foreign/optional-lite"]
	path = Foreign/optional-lite
	url = git@github.com:martinmoene/optional-lite
[submodule "Foreign/yoga"]
	path = Foreign/yoga
	url = git@github.com:facebook/yoga.git
