/Output/
/Finals_Debug32/*
/Finals_Profile32/*
/Finals_Release32/*
/Finals_Debug64/*
/Finals_Profile64/*
/Finals_Release64/*
/Finals_DebugAny/*
/Finals_ProfileAny/*
/Finals_ReleaseAny/*
/Finals_DebugAndroid/*
/Finals_ProfileAndroid/*
/Finals_ReleaseAnddroid/*
GeneratedDocumentation/
ArchivedStuff/
Foreign/OpenCOLLADA/COLLADASaxFrameworkLoader/lib
Foreign/Antlr-3.4/libantlr3c-3.4/x64/*
PluginNonDist/
CMakeBuild/
Solutions/CMake/Assets
Solutions/CMake/CMakeFiles
Solutions/CMake/ConsoleRig
Solutions/CMake/ForeignMisc
Solutions/CMake/Makefile
Solutions/CMake/Math
Solutions/CMake/RenderCore
Solutions/CMake/Samples
Solutions/CMake/ShaderParser
Solutions/CMake/Utility
Solutions/CMake/cmake_install.cmake
Solutions/CMake/Debug
Solutions/CMake/x64
RenderCore/CMake*


*.user
*.csproj.user
*.ncb
*.suo
*.swp
*.sdf
BuildLog.htm
*.ipch
*.opensdf
*.nvuser
*.VC.db
*.VC.opendb
**/.vs/*
*.orig
.vscode/ipch/**
Working/.vscode/**

/Foreign/freetype-2.5.0.1/objs/
/ForeignNonDist/
__*.*
working/debug.txt
working/Int

!/Finals_Debug32/tbb_debug.dll
!/Finals_Debug32/tbbmalloc_debug.dll
!/Finals_Debug32/libEGL.dll
!/Finals_Debug32/libGLESv2.dll
!/Finals_Profile32/tbb.dll
!/Finals_Profile32/tbbmalloc.dll
!/Finals_Release32/tbb.dll
!/Finals_Release32/tbbmalloc.dll

PlatformRig/project/My Amplifier XE Results - PlatformRig/

BufferUploads/Project/Tegra-Android
Foreign/Project/Tegra-Android
PlatformRig/Project/Tegra-Android
RenderCore/Project/Tegra-Android
RenderOverlays/Project/Tegra-Android
TestDLL/Project/Tegra-Android
Utility/Project/Tegra-Android
Solutions/Tegra-Android
Working/game/objects/
Working/game/old-xleres/
Working/game/textures/
Working/game/worlds/
Working/localtest/
Working/game/mainworld/
/Solutions/TestResults

# Mac OS X Finder
.DS_Store
# Sparkle distribution Private Key (Don’t check me in!)
dsa_priv.pem

# XCode (and ancestors) per-user config (very noisy, and not relevant)
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser

# Xcode
xcuserdata/
xcshareddata/
project.xcworkspace/

build
