/Output/
/Finals_Debug32/*
/Finals_Profile32/*
/Finals_Release32/*
/Finals_Debug64/*
/Finals_Profile64/*
/Finals_Release64/*
/Finals_DebugAndroid/*
/Finals_ProfileAndroid/*
/Finals_ReleaseAnddroid/*
GeneratedDocumentation/
ArchivedStuff/
Foreign/OpenCOLLADA/COLLADASaxFrameworkLoader/lib
PluginNonDist/

*.user
!*.csproj.user
*.ncb
*.suo
*.swp
*.sdf
BuildLog.htm
*.ipch
*.opensdf
*.nvuser

/Foreign/freetype-2.5.0.1/objs/
/ForeignNonDist/
__*.*
working/debug.txt
working/Int

!/Finals_Debug32/tbb_debug.dll
!/Finals_Debug32/tbbmalloc_debug.dll
!/Finals_Debug32/libEGL.dll
!/Finals_Debug32/libGLESv2.dll
!/Finals_Profile32/tbb.dll
!/Finals_Profile32/tbbmalloc.dll
!/Finals_Release32/tbb.dll
!/Finals_Release32/tbbmalloc.dll

PlatformRig/project/My Amplifier XE Results - PlatformRig/

BufferUploads/Project/Tegra-Android
Foreign/Project/Tegra-Android
PlatformRig/Project/Tegra-Android
RenderCore/Project/Tegra-Android
RenderOverlays/Project/Tegra-Android
TestDLL/Project/Tegra-Android
Utility/Project/Tegra-Android
Solutions/Tegra-Android
Working/game/objects/
Working/game/old-xleres/
Working/game/textures/
Working/game/worlds/
Working/localtest/
Working/game/mainworld/

