
#include "Core.xcconfig"

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  B U I L D   O P T I O N S   //
////////////////////////////////////////////////////////////////////////////////////////////////////

ENABLE_TESTABILITY = NO
VALIDATE_PRODUCT = YES

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  P R E P R O C E S S I N G   //
////////////////////////////////////////////////////////////////////////////////////////////////////

ENABLE_NS_ASSERTIONS = NO
CORE_PREPROCESSOR_DEFINITIONS = NDEBUG NS_BLOCK_ASSERTIONS=1 GL_SILENCE_DEPRECATION=1
GCC_PREPROCESSOR_DEFINITIONS = $(CORE_PREPROCESSOR_DEFINITIONS) $(inherited)

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  U S E R   D E F I N E D  //
////////////////////////////////////////////////////////////////////////////////////////////////////

MTL_ENABLE_DEBUG_INFO = NO


