
#include "Core.xcconfig"

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  B U I L D   O P T I O N S   //
////////////////////////////////////////////////////////////////////////////////////////////////////

ENABLE_TESTABILITY = NO
VALIDATE_PRODUCT = YES

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  P R E P R O C E S S I N G   //
////////////////////////////////////////////////////////////////////////////////////////////////////

ENABLE_NS_ASSERTIONS = NO
GCC_PREPROCESSOR_DEFINITIONS = NDEBUG $(inherited)

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  U S E R   D E F I N E D  //
////////////////////////////////////////////////////////////////////////////////////////////////////

MTL_ENABLE_DEBUG_INFO = NO


