
#include "CoreWarnings.xcconfig"

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  A R C H I T E C T U R E S   //
////////////////////////////////////////////////////////////////////////////////////////////////////

ONLY_ACTIVE_ARCH = YES

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  B U I L D   O P T I O N S   //
////////////////////////////////////////////////////////////////////////////////////////////////////

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_BITCODE = NO

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  D E P L O Y M E N T   //
////////////////////////////////////////////////////////////////////////////////////////////////////

COPY_PHASE_STRIP = NO
TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET = 7.0
MACOSX_DEPLOYMENT_TARGET = 10.14

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  L I N K I N G   //
////////////////////////////////////////////////////////////////////////////////////////////////////

OTHER_LDFLAGS = -ObjC

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  S E A R C H   P A T H S   //
////////////////////////////////////////////////////////////////////////////////////////////////////

FRAMEWORK_SEARCH_PATHS = $(inherited)
HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/../.. $(PROJECT_DIR)/../../Foreign/cml-2_1_2 $(PROJECT_DIR)/../../Foreign/eigen
EXCLUDED_RECURSIVE_SEARCH_PATH_SUBDIRECTORIES = $(inherited)
ALWAYS_SEARCH_USER_PATHS = NO

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  C O D E   G E N E R A T I O N   //
////////////////////////////////////////////////////////////////////////////////////////////////////

GCC_NO_COMMON_BLOCKS = YES

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  L A N G U A G E   //
////////////////////////////////////////////////////////////////////////////////////////////////////

GCC_C_LANGUAGE_STANDARD = gnu99
CLANG_CXX_LANGUAGE_STANDARD = c++14
CLANG_CXX_LIBRARY = libc++

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  L A N G U A G E   M O D U L E S   //
////////////////////////////////////////////////////////////////////////////////////////////////////

CLANG_ENABLE_MODULES = NO

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  L A N G U A G E   O B J   C   //
////////////////////////////////////////////////////////////////////////////////////////////////////

CLANG_ENABLE_OBJC_ARC = NO

////////////////////////////////////////////////////////////////////////////////////////////////////
    //  P R E P R O C E S S I N G   //
////////////////////////////////////////////////////////////////////////////////////////////////////

ENABLE_STRICT_OBJC_MSGSEND = YES

